<footer>
  <div class="container">
    <div class="footer-menu">
      <ul>
        <li>
          <a href="#">Вариант <br />кухни</a>
        </li>
        <li><a href="#">Размер</a></li>
        <li><a href="#">Сенсор</a></li>
        <li>
          <a href="#">Питающий <br />кабель</a>
        </li>
        <li>
          <a href="#">Блок <br />питания</a>
        </li>
        <li class="active">
          <a href="#">Цвет <br />свечения</a>
        </li>
        <li class="line-red"><a href="#">Монтаж</a></li>
        <li class="line-red"><a href="#">Корзина</a></li>
      </ul>
    </div>
    <div class="mobile-footer-menu">
      <div class="prev"><i class="fas fa-angle-left"></i></div>
      <div class="mf-menu">
        <i class="fas fa-bars"></i> Цвет свечений
      </div>
      <div class="next"><i class="fas fa-angle-right"></i></div>
    </div>
  </div>
</footer>
